<!DOCTYPE html>
<html>

<head>

    <title>Hobilerim</title>
</head>

<body bgcolor="#2d3250">


    <table border="0,5" cellpadding="10" width="1500px">
        <tr>
            <td>
                <h1 style="color: rgb(217, 90, 44);  ">WSMB</h1>
            </td>
            <td align="right" width="100px" height="50px" colspan="2" bgcolor="#2d3250">
                <a href="web sitem.html " style="color:darksalmon">HOME</a>
                <a href="hobilerim.html" style="color:cornflowerblue">HOBİ</a>
                <a href="Projeler.html" style="color:darksalmon">PROJE</a>
                <a href="makale.html" style="color:cornflowerblue">MAKALE</a>
                <a href="Akedemi.html" style="color:darksalmon">AKADEMİ</a>
            </td>
        </tr>

        <tr >
            <th style="color: coral;"><h3>Hobi Resmi</h3></th>
            <th style="color: coral;"><h3>Hobi Adı</h3></th>
            <th style="color: coral;"><h3>Açıklama</h3></th>
        </tr>
        <tr>
            <td><img src="C:\Users\MONSTER\Downloads\indir (5).jpg"  height="300px" width="300px" alt="Hobi Resmi 1"></td>
            <td style="color: aliceblue;">Kitap okumak</td>
            <td style="color: aliceblue;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem molestias
                esse veritatis quam fugit doloremque voluptates omnis aut earum id facilis tempora molestiae, saepe
                deserunt repellat nemo corporis! Eligendi, tenetur.</td>
        </tr>
        <tr>
            <td><img src="C:\Users\MONSTER\Downloads\indir (1).jpg"  height="300px" width="300px"alt="Hobi Resmi 2"></td>
            <td style="color:bisque;">yürüyüş yapmak</td>
            <td style="color: bisque;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque delectus,
                quibusdam iusto necessitatibus, numquam aperiam dolorum excepturi placeat autem cum veritatis corporis
                odit recusandae reprehenderit sunt consequuntur ut hic facere.
            </td>
        </tr>
        <tr>
            <td><img src="C:\Users\MONSTER\Downloads\WhatsApp Image 2024-01-10 at 15.07.58 (1).jpeg" width="300px"
                    height="300px" alt="Hobi Resmi 2"></td>
            <td style="color: aliceblue;">bisiklet sürmek</td>
            <td style="color: aliceblue;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus hic debitis,
                repudiandae, ipsa reprehenderit ab numquam, eum reiciendis asperiores quae ea nobis eius voluptatibus
                labore natus sint cumque nesciunt exercitationem?</td>
        </tr>
        <tr>
            <td><img src="C:\Users\MONSTER\Downloads\indir (6).jpg"  height="300px" width="300px" alt="Hobi Resmi 2"></td>
            <td style="color: bisque;">müzik dinlemek</td>
            <td style="color: bisque;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque delectus,
                quibusdam iusto necessitatibus, numquam aperiam dolorum excepturi placeat autem cum veritatis corporis
                odit recusandae reprehenderit sunt consequuntur ut hic facere.
            </td>
        </tr>
        <!-- İstediğiniz kadar hobi ekleyebilirsiniz -->
        <tr>
            <td colspan="3" align="center">
                <h4>2024 ☺ MEHLİKA</h4>
            </td>



        </tr>
    </table>
</body>

</html>