<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Makale</title>
</head>
<body bgcolor="#2d3250">
    <table>
        <tr>
            <td>
                <h1 style="color: rgb(217, 90, 44);  ">WSMB</h1>
            </td>
            <td align="right" width="550px" height="50px" colspan="" bgcolor="#2d3250">
                <a href="web sitem.html " style="color:darksalmon">HOME</a>
                <a href="hobilerim.html" style="color:cornflowerblue">HOBİ</a>
                <a href="Projeler.html" style="color:darksalmon">PROJE</a>
                <a href="makale.html" style="color:cornflowerblue">MAKALE</a>
                <a href="Akedemi.html" style="color:darksalmon">AKADEMİ</a>
            </td>
        </tr>
        <tr>
            <td  align="center" colspan="">
                <h1 style="color:darksalmon;">Makale Başlığı</h1>
            </td>
        </tr>
        <tr>
            <td >
                <table>
                    <tr >
                        <td >
                            <ul><img src="C:\Users\MONSTER\Downloads\indirr.jpg" alt=""  width="370px " height="300px"></ul>
                            <ul><h3 style="color: darksalmon;">Tasarımın Temel Kuralları</h3></ul>
                            <ul style="color: aliceblue;">
                            <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, at. Consequuntur voluptas dolorem assumenda corrupti harum placeat laboriosam deserunt magni deleniti obcaecati? Numquam totam tenetur quis pariatur ipsam dolorum accusantium.Integer nec ante eu purus eleifend feugiat. Ut tempus nunc a risus molestie, sed consectetur felis convallis.</li>

                            </ul>
                        </td>
                        <td >
                            <ul><img src="C:\Users\MONSTER\Downloads\indir.jpg"alt=""  width="370px " height="300px"></ul>
                            <ul><h3 style="color: darksalmon;">İnternet Programlama</h3></ul>

                            <ul style="color: aliceblue;">
                                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, at. Consequuntur voluptas dolorem assumenda corrupti harum placeat laboriosam deserunt magni deleniti obcaecati? Numquam totam tenetur quis pariatur ipsam dolorum accusantium.Integer nec ante eu purus eleifend feugiat. Ut tempus nunc a risus molestie, sed consectetur felis convallis.</li>
                           
                            </ul>
                        </td>
                        <td >
                            <ul><img src="C:\Users\MONSTER\Downloads\indir (2).jpg"alt="" width="370px " height="300px"></ul>
                            <ul><h3 style="color: darksalmon;">HTML Öğreniyorum</h3></ul>

                            <ul style="color: aliceblue;">
                                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, at. Consequuntur voluptas dolorem assumenda corrupti harum placeat laboriosam deserunt magni deleniti obcaecati? Numquam totam tenetur quis pariatur ipsam dolorum accusantium.Integer nec ante eu purus eleifend feugiat. Ut tempus nunc a risus molestie, sed consectetur felis convallis.</li>

                            </ul>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
